@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

 
:root {
  --color-main: #3b82f6;
  --color-on-main: #8b5cf6;
  --color-accent: #e7000b;
  --color-cavity: #e5e5e5;
  --color-on-cavity: #d9d9d9;
  --color-surface: #ffffff;
  --color-surface-text: #444444;
}
@theme inline {
  --spacing-xs: 5;
  --spacing-s: 10;
  --spacing-m: 15;
  --spacing-l: 20;
  --spacing-xl: 40;
  --spacing-xxl: 60;
  --color-accent: var(--color-accent);
  --color-main: var(--color-main);
  --color-on-main: var(--color-on-main);
  --color-cavity: var(--color-cavity);
  --color-on-cavity: var(--color-on-cavity);
  --color-surface: var(--color-surface);
  --color-surface-text: var(--color-surface-text);
}
